/* @font-face {
  font-family: sans-serif;
  src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: sans-serif;
  src: url("OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: sans-serif;
  src: url("OpenSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: sans-serif;
  src: url("OpenSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
} */


body {
  font-family: sans-serif;
  font-size: 14pt;
}

.right {text-align: right;}

.mono { font-family: monospace;}
.sans { font-family: sans-serif;}
.serif { font-family: serif;}

span.foo { color: rgb(73, 16, 126); }
span {color: green;}
.bgcolor {
  background: lightgray;
}

a { font-family: monospace;}

img { width: 4cm; height: 4cm;}

/* h1 { */
  /* font-family: h1;
  font-size: 12pt; */
/* } */

/* LineTableTD */
.lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0; }

  /* LineTable */
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    overflow: auto;
    display: block; }

  /* LineHighlight */
  .hl {
    background-color: #ffffcc;
    display: block;
    width: 100%; }

  /* LineNumbersTable */
  .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    display: block; }

  /* LineNumbers */
  .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em; }

  /* Keyword */
  .k {
    color: #006699;
    font-weight: 300; }

  /* KeywordConstant */
  .kc {
    color: #006699;
    font-weight: 300; }

  /* KeywordDeclaration */
  .kd {
    color: #006699;
    font-weight: 300; }

  /* KeywordNamespace */
  .kn {
    color: #006699;
    font-weight: 300; }

  /* KeywordPseudo */
  .kp {
    color: #006699; }

  /* KeywordReserved */
  .kr {
    color: #006699;
    font-weight: 300; }

  /* KeywordType */
  .kt {
    color: #007788;
    font-weight: 300; }

  /* NameAttribute */
  .na {
    color: #330099; }

  /* NameBuiltin */
  .nb {
    color: #336666; }

  /* NameClass */
  .nc {
    color: #00aa88;
    font-weight: 300; }

  /* NameConstant */
  .no {
    color: #336600; }

  /* NameDecorator */
  .nd {
    color: #9999ff; }

  /* NameEntity */
  .ni {
    color: #999999;
    font-weight: 300; }

  /* NameException */
  .ne {
    color: #cc0000;
    font-weight: 300; }

  /* NameFunction */
  .nf {
    color: #cc00ff; }

  /* NameLabel */
  .nl {
    color: #9999ff; }

  /* NameNamespace */
  .nn {
    color: #00ccff;
    font-weight: 300; }

  /* NameTag */
  .nt {
    color: #330099;
    font-weight: 300; }

  /* NameVariable */
  .nv {
    color: #003333; }

  /* LiteralString */
  .s {
    color: #cc3300; }

  /* LiteralStringAffix */
  .sa {
    color: #cc3300; }

  /* LiteralStringBacktick */
  .sb {
    color: #cc3300; }

  /* LiteralStringChar */
  .sc {
    color: #cc3300; }

  /* LiteralStringDelimiter */
  .dl {
    color: #cc3300; }

  /* LiteralStringDoc */
  .sd {
    color: #cc3300;
    font-style: italic; }

  /* LiteralStringDouble */
  .s2 {
    color: #cc3300; }

  /* LiteralStringEscape */
  .se {
    color: #cc3300;
    font-weight: 300; }

  /* LiteralStringHeredoc */
  .sh {
    color: #cc3300; }

  /* LiteralStringInterpol */
  .si {
    color: #aa0000; }

  /* LiteralStringOther */
  .sx {
    color: #cc3300; }

  /* LiteralStringRegex */
  .sr {
    color: #33aaaa; }

  /* LiteralStringSingle */
  .s1 {
    color: #cc3300; }

  /* LiteralStringSymbol */
  .ss {
    color: #ffcc33; }

  /* LiteralNumber */
  .m {
    color: #ff6600; }

  /* LiteralNumberBin */
  .mb {
    color: #ff6600; }

  /* LiteralNumberFloat */
  .mf {
    color: #ff6600; }

  /* LiteralNumberHex */
  .mh {
    color: #ff6600; }

  /* LiteralNumberInteger */
  .mi {
    color: #ff6600; }

  /* LiteralNumberIntegerLong */
  .il {
    color: #ff6600; }

  /* LiteralNumberOct */
  .mo {
    color: #ff6600; }

  /* Operator */
  .o {
    color: #555555; }

  /* OperatorWord */
  .ow {
    color: #000000;
    font-weight: 300; }

  /* Comment */
  .c {
    color: #0099ff;
    font-style: italic; }

  /* CommentHashbang */
  .ch {
    color: #0099ff;
    font-style: italic; }

  /* CommentMultiline */
  .cm {
    color: #0099ff;
    font-style: italic; }

  /* CommentSingle */
  .c1 {
    color: #0099ff;
    font-style: italic; }

  /* CommentSpecial */
  .cs {
    color: #0099ff;
    font-weight: 300;
    font-style: italic; }

  /* CommentPreproc */
  .cp {
    color: #009999; }

  /* CommentPreprocFile */
  .cpf {
    color: #009999; }

  /* GenericDeleted */
  .gd {
    background-color: #ffcccc; }

  /* GenericEmph */
  .ge {
    font-style: italic; }

  /* GenericError */
  .gr {
    color: #ff0000; }

  /* GenericHeading */
  .gh {
    color: #003300;
    font-weight: 300; }

  /* GenericInserted */
  .gi {
    background-color: #ccffcc; }

  /* GenericOutput */
  .go {
    color: #aaaaaa; }

  /* GenericPrompt */
  .gp {
    color: #000099;
    font-weight: 300; }

  /* GenericStrong */
  .gs {
    font-weight: 300; }

  /* GenericSubheading */
  .gu {
    color: #003300;
    font-weight: 300; }

  /* GenericTraceback */
  .gt {
    color: #99cc66; }

  /* TextWhitespace */
  .w {
    color: #bbbbbb; }
